@font-face {
    font-family: "Verdana";
    src: url("../../assets/fonts/Verdana.ttf") format("truetype"),
        url("../../assets/fonts/Verdana.ttf") format("woff"),
        url("../../assets/fonts/Verdana.ttf") format("woff2"),
        url("../../assets/fonts/Verdana-Bold.ttf") format("truetype"),
        url("../../assets/fonts/Verdana-Bold.ttf") format("woff"),
        url("../../assets/fonts/Verdana-Bold.ttf") format("woff2"),
        url("../../assets/fonts/Verdana-BoldItalic.ttf") format("truetype"),
        url("../../assets/fonts/Verdana-BoldItalic.ttf") format("woff"),
        url("../../assets/fonts/Verdana-BoldItalic.ttf") format("woff2"),
        url("../../assets/fonts/Verdana-Italic.ttf") format("truetype"),
        url("../../assets/fonts/Verdana-Italic.ttf") format("woff"),
        url("../../assets/fonts/Verdana-Italic.ttf") format("woff2");
}


@font-face {
    font-family: "Verdana-Heavy";
    src: url("../../assets/fonts/verdana-heavy.ttf") format("truetype"),
        url("../../assets/fonts/verdana-heavy-bold.ttf") format("truetype");
}