/* Variables */

/* Colors */
$primary-background: #FEFAF5; 
$primary-orange: #DB7A4E;
$primary-blue: #335576;
$white: #FFFFFF;
$black: #000000;

/* Fonts */
$base-font: "Verdana";
$base-font-heavy: "Verdana-Heavy";

