/* Variables */

/* Colors */
$color-background: #FEFAF5; 
$color-text-primary: #335576;
$color-secondary: #DB7A4E;
$white: #FFFFFF;
$black: #000000;

/* Fonts */
$base-font: "Verdana";
$base-font-heavy: "Verdana-Heavy";

