/* Footer Styling */

.footer {
    background-color: $color-background;
    padding: 4% 17%;
    @include flex-space-between;
    &__title {
        font-family: $base-font-heavy;
        color: $color-text-primary;
    }
    &__subtitle {
        color: $color-secondary;
        padding: 2rem 0 1rem;
    }
    &__text {
        color: $color-text-primary;
        font-size: 0.9rem;
    }
    &__hours-container {
        width: 46%;
    }
    &__hours {
        @include flex-space-between;
    }
    &__social-container {
        width: 15%;
    }
    &__img-container {
        padding-top: 3.25rem;
        @include flex-space-between;
    }
    &__img {
        height: 1.4rem; 
    }
}