/* Footer Styling */

.footer {
    background-color: $primary-background;
    padding: 4% 17%;
    display: flex;
    justify-content: space-between;
    &__title {
        font-family: $base-font-heavy;
        color: $primary-blue;
    }
    &__subtitle {
        color: $primary-orange;
        padding: 2rem 0 1rem;
    }
    &__text {
        color: $primary-blue;
        font-size: 0.9rem;
    }
    &__hours-container {
        width: 46%;
    }
    &__hours {
        display: flex;
        justify-content: space-between;
    }
    &__social-container {
        width: 15%;
    }
    &__img-container {
        padding-top: 3.25rem;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        height: 1.4rem; 
    }
}