/* Hero Banner Stlying */

.hero {
    background-color: $primary-background;
    display: flex;
    justify-content: space-between;
    padding: 4% 6.75%;
    &__left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
    }
    &__heading {
        font-family: $base-font-heavy;
        font-size: 2.5rem;
        color: $primary-blue;
    }
    &__slogan {
        font-size: 0.85rem;
        color: $primary-blue;
        padding: 2rem 0; 
    }
    &__button {
        color: $white;
        text-decoration: none;
        text-align: center;
        padding: 0.625rem;
        background-color: $primary-orange;
        width: 11.25rem;
        border-radius: 1.25rem;
    }

    &__img {
        height: 27rem;
    }

}
