/* Hero Banner Stlying */

.hero {
    background-color: $color-background;
    display: flex;
    justify-content: space-between;
    padding: 8% 6% 6%;
    &__left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 46%;
    }
    &__heading {
        font-family: $base-font-heavy;
        font-size: 2.2rem;
        color: $color-text-primary;
    }
    &__slogan {
        font-size: 0.85rem;
        color: $color-text-primary;
        padding: 2rem 0; 
    }
    &__button {
        color: $white;
        text-decoration: none;
        text-align: center;
        padding: 0.625rem;
        background-color: $color-secondary;
        width: 11.25rem;
        border-radius: 20px;
    }
    &__img {
        height: 25rem;
    }
}
