/* Itinerary Styling */

.itinerary {
    padding: 0 6% 0;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    &__hawaii {
        background-image: url("../../assets/images/hawaii.jpg");
    }    
    &__iceland {
        background-image: url("../../assets/images/iceland.jpg");
    }
    &__greece {
        background-image: url("../../assets/images/greece.jpg");
    }
    &__title {
        font-family: $base-font-heavy;
        color: $white;
        font-size: 5rem;
        padding: 10% 0 6%;
    }
    &__card-container {
        padding: 0 10% 0;
        display: flex;
        justify-content: space-evenly;
    }
    &__card {
        background-color: $white;
        width: 20vw;
        height: 46vh;
        text-align: center;
        padding: 1.25rem;
        border-radius: 5px;
    }
    &__card-header {
        font-family: $base-font-heavy;
        border-bottom: 0.2rem solid $black;
        margin-bottom: 1.75rem;
    }
    &__card-activity {
        background-color: $primary-background;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 0.9rem;
        list-style: none;
    }
}

