/* Primary Nav Stlying */

.primary-nav {
    position: fixed;
    width: 100%;
    background-color: $white;
    padding: 1.25% 6.75%;
    display: flex;
    justify-content: space-between;
    &__wordmark {
        font-family: $base-font-heavy;
        text-decoration: none;
        color: $primary-blue;
    }
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }
    &__list-item {
        padding: 0 0.7rem;
    }
    &__link {
        text-decoration: none;
        color: $black;
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        &:hover {
            border-bottom: 0.2rem solid $primary-orange;
            margin-top: 0.5rem;
        }
    }
    &__underline {
        border-bottom: 0.2rem solid $primary-orange;
        margin-top: 0.5rem;
    }

}
