/* Primary Navigation Stlying */

header {
    position: sticky;
    top: 0;
}

.primary-nav {
    width: 100%;
    background-color: $white;
    padding: 1.25rem 5rem;
    @include flex-space-between;
    &__wordmark {
        font-family: $base-font-heavy;
        text-decoration: none;
        color: $color-text-primary;
    }
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }
    &__list-item {
        padding: 0 0.75rem;
    }
    &__link {
        text-decoration: none;
        color: $black;
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        &:hover {
            @include nav-link-underline;
        }
    }
    &__underline {
        @include nav-link-underline;
    }

}
