/* Recommendations Section Styling */

.recs {
    background-color: $white;
    padding: 4% 6% 7%;
    &__header {
        font-family: $base-font-heavy;
        color: $primary-blue;
    }
    &__card-container {
        padding: 3% 8% 0;
        display: flex;
        justify-content: space-evenly;
    }
    &__text {
        font-family: $base-font-heavy;
        text-decoration: none;
        color: $white;
        font-size: 1.4rem;
    }
    &__card {
        background-position: center;
        background-size: cover;
        width: 20vw;
        height: 45vh;
        border: 1px solid rgba(0, 0, 0, 0.20);
        border-radius: 5px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1rem;
        &:hover {
            opacity: 50%;
        }
    }
    &__hawaii {
        background-image: url("../../assets/images/hawaii.jpg");
    }
    &__iceland {
        background-image: url("../../assets/images/iceland.jpg");
    }
    &__greece {
        background-image: url("../../assets/images/greece.jpg");
    }
}
